:root {
  --ds-focus-color: hsla(212, 100%, 48%, 1);
  font-family: "Geist", Arial, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  font-feature-settings: "liga";
  color: #171717;
  background: #ffffff;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input,
textarea {
  font: inherit;
  font-feature-settings: "liga";
}

::selection {
  background: hsla(0, 0%, 95%, 1);
  color: #171717;
}

:focus-visible {
  outline: 2px solid var(--ds-focus-color);
  outline-offset: 2px;
  border-radius: 6px;
}

code,
kbd,
samp,
pre {
  font-family: "Geist Mono", ui-monospace, SFMono-Regular, "Roboto Mono",
    Menlo, Monaco, "Liberation Mono", "DejaVu Sans Mono", "Courier New",
    monospace;
  font-feature-settings: "liga", "tnum";
}
